@using GymLog.MVC.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Panel Administratora</title>
    @Styles.Render("~/AdminCSS")
</head>
<body class="app sidebar-mini">
    <header class="app-header">
        <a class="app-header__logo" href="@Url.Action("Index","Home")">GymLog</a>
        <a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
        <ul class="app-nav">
            <li class="dropdown">
                <a class="app-nav__item" href="#" data-toggle="dropdown"><i class="fa fa-user fa-lg"></i></a>
                <ul class="dropdown-menu settings-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="#"><i class="fa fa-cog fa-lg"></i> Settings</a></li>
                    <li><a class="dropdown-item" href="#"><i class="fa fa-user fa-lg"></i> Profile</a></li>
                    <li><a class="dropdown-item" href="@Url.Action("Logout","Account")"><i class="fa fa-sign-out fa-lg"></i> Wyloguj się</a></li>
                </ul>
            </li>
        </ul>
    </header>
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/Content/Admin/Img/pioter.jpg" alt="User Image">
            <div>
                <p class="app-sidebar__user-name">Piotr Strzelecki</p>
                <p class="app-sidebar__user-designation">.Net Developer</p>
            </div>
        </div>
        <ul class="app-menu">
            <li><a class="app-menu__item @Html.IsActive("Index", "PanelAdmin")" href="@Url.Action("Index","PanelAdmin")"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "UsersAdmin")" href="@Url.Action("Index","UsersAdmin")"><i class="app-menu__icon fa fa-users"></i><span class="app-menu__label">Użytkownicy</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "MusclesAdmin")" href="@Url.Action("Index","MusclesAdmin")"><i class="app-menu__icon fa fa-puzzle-piece"></i><span class="app-menu__label">Mięśnie</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "EquipmentsAdmin")" href="@Url.Action("Index","EquipmentsAdmin")"><i class="app-menu__icon fa fa-cogs"></i><span class="app-menu__label">Sprzęt</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "ExercisesAdmin")" href="@Url.Action("Index","ExercisesAdmin")"><i class="app-menu__icon fa fa-bicycle"></i><span class="app-menu__label">Ćwiczenia</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "WorkoutsAdmin")" href="@Url.Action("Index","WorkoutsAdmin")"><i class="app-menu__icon fa fa-handshake-o"></i><span class="app-menu__label">Treningi</span></a></li>
            <li><a class="app-menu__item @Html.IsActive("Index", "DaylogsAdmin")" href="@Url.Action("Index","DaylogsAdmin")"><i class="app-menu__icon fa fa-calendar"></i><span class="app-menu__label">Plany treningowe</span></a></li>

        </ul>
    </aside>
    <main class="app-content">
        @RenderSection("Breadcrumb", required: false)
        <div class="row">
            @if (TempData["message"] != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Świetnie!</strong> @TempData["message"]
                    </div>
                </div>

            }
            @if (TempData["error"] != null)
            {
                <div class="col-md-12">
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>Niestety!</strong> @TempData["error"]
                    </div>
                </div>
            }
            @RenderBody()
        </div>
    </main>

    @Scripts.Render("~/AdminJS")
    @RenderSection("scripts", required: false)

</body>
</html>