@model GymLog.MVC.Models.ExerciseViewModel

@{
    ViewBag.Title = "Usuwanie ćwiczenia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div class="app-title">
        <div>
            <h1><i class="fa fa-bicycle"></i> @ViewBag.Title</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "PanelAdmin")"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "ExercisesAdmin")">Ćwiczenia</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ul>
    </div>
}

<div class="col-md-6">
    <div class="tile">
        <h3 class="title">Jesteś pewny, że chcesz usunąć to ćwiczenie?</h3>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Id) </b><br>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Name) </b><br>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Description) </b><br>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Equipment.Name) </b><br>
            @Html.DisplayFor(model => model.Equipment.Name)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Muscle.Name) </b><br>
            @Html.DisplayFor(model => model.Muscle.Name)
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Usuń" class="btn btn-danger" /> |
                @Html.ActionLink("Powrót do listy", "Index")
            </div>
        }
    </div>
</div>