@model GymLog.MVC.Models.ExerciseViewModel

@{
    ViewBag.Title = "Szczegóły ćwiczenia";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div class="app-title">
        <div>
            <h1><i class="fa fa-bicycle"></i> @ViewBag.Title</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "PanelAdmin")"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "ExercisesAdmin")">Ćwiczenia</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ul>
    </div>
}

<div class="col-md-6">
    <div class="tile">
        <div class="tile-title-w-btn">
            <h3 class="title">@ViewBag.Title</h3>
            <div class="btn-group text-right">
                <a class="btn btn-primary" href="@Url.Action("Edit", "ExercisesAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-edit"></i></a>
                <a class="btn btn-primary" href="@Url.Action("Delete", "ExercisesAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-trash"></i></a>
            </div>
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Id) </b><br>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Name) </b><br>
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Description) </b><br>
            @Html.DisplayFor(model => model.Description)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Equipment) </b><br>
            @Html.DisplayFor(model => model.Equipment.Name)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Muscles) </b><br>
            @foreach (var item in Model.Muscles)
            {
                @item.Name<br />
            }
        </div>
    </div>
</div>