@model GymLog.MVC.Models.UserViewModel

@{
    ViewBag.Title = "Szczegóły użytkownika";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div class="app-title">
        <div>
            <h1><i class="fa fa-puzzle-piece"></i> @ViewBag.Title</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "PanelAdmin")"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "UsersAdmin")">Użytkownicy</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ul>
    </div>
}

<div class="col-md-6">
    <div class="tile">
        <div class="tile-title-w-btn">
            <h3 class="title">@ViewBag.Title</h3>
            <div class="btn-group text-right">
                <a class="btn btn-primary" href="@Url.Action("Edit", "UsersAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-edit"></i></a>
                <a class="btn btn-primary" href="@Url.Action("Delete", "UsersAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-trash"></i></a>
            </div>
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Id) </b><br>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="tile-body">
            <b> Nick</b><br>
            @Html.DisplayFor(model => model.UserName)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Email) </b><br>
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="tile-body">
            <b> Status emaila </b><br>
            @if (Model.EmailConfirmed == true)
            {
                <span class="badge badge-success">Aktywowany</span>
            }
            else
            {
                <span class="badge badge-danger">Nieaktywowany</span>
            }
        </div>
        <div class="tile-body">
            <b> Numer telefonu </b><br>
            @if (Model.PhoneNumber == null)
            {
                <span class="badge badge-warning">Brak</span>
            }
            else
            {
                @Model.PhoneNumber
            }
        </div>
        <div class="tile-body">
            <b> Status numer telefonu  </b><br>
            @if (Model.PhoneNumberConfirmed == true)
            {
                <span class="badge badge-success">Potwierdzony</span>
            }
            else
            {
                <span class="badge badge-danger">Niepotwierdzony</span>
            }
        </div>
        <div class="tile-body">
            <b> Stan blokady </b><br>
            @if (Model.LockoutEnabled == true)
            {
                <span class="badge badge-danger">Włączona</span>
            }
            else
            {
                <span class="badge badge-success">Wyłączona</span>
            }
        </div>
    </div>
</div>