@model GymLog.MVC.Models.DaylogViewModel
@{
    ViewBag.Title = "Szczegóły planu treningowego";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Breadcrumb{
    <div class="app-title">
        <div>
            <h1><i class="fa fa-calendar"></i> @ViewBag.Title</h1>
        </div>
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "PanelAdmin")"><i class="fa fa-home fa-lg"></i></a></li>
            <li class="breadcrumb-item"> <a href="@Url.Action("Index", "DaylogsAdmin")">Plany treningowe</a></li>
            <li class="breadcrumb-item">@ViewBag.Title</li>
        </ul>
    </div>
}

<div class="col-md-6">
    <div class="tile">
        <div class="tile-title-w-btn">
            <h3 class="title">@ViewBag.Title</h3>
            <div class="btn-group text-right">
                <a class="btn btn-primary" href="@Url.Action("Edit", "DaylogsAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-edit"></i></a>
                <a class="btn btn-primary" href="@Url.Action("Delete", "DaylogsAdmin", new { id = Model.Id })"><i class="fa fa-lg fa-trash"></i></a>
            </div>
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Id) </b><br>
            @Html.DisplayFor(model => model.Id)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.User.UserName) </b><br>
            @Html.DisplayFor(model => model.User.UserName)
        </div>
        <div class="tile-body">
            <b> @Html.DisplayNameFor(model => model.Date) </b><br>
            @Html.DisplayFor(model => model.Date)
        </div>

        @foreach (var item in Model.Workouts)
        {
            <div class="tile-body bs-component">
                <b> @item.Exercise.Name</b> 
                <i class="fa fa-info-circle"
                   cursor ="pointer"
                   data-html="true"
                   data-container="body" 
                   data-toggle="popover" 
                   data-placement="top" 
                   data-content="@item.Exercise.Description <br/> @item.Exercise.Equipment.Name <br/> @item.Exercise.Muscle.Name" 
                   data-original-title="@item.Exercise.Name">
                    </i>
                <br>
                Serii: @item.Sets
                Powtórzeń: @item.Reps
                Obciążenie: @item.Weight
            </div>
        }
    </div>
</div>


@section Scripts {
    <script type="text/javascript">
        $('.bs-component [data-toggle="popover"]').popover();
    </script>
}
